/* 

    GOOGLE FONT 

*/
@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&display=swap");

:root {
  --background-color: #333;
  --text-color: #fff;
  --primary-color: #0a8754;
  --secondary-color: rgb(219, 3, 3);
  --tertiary-color: #dd5815;
  --font-family: "Dosis", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-family);
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
  line-height: 1.6;
}

/* 

    HERO SECTION

*/

#hero-section {
  margin: 30px 0px;
  padding: 1rem;
  text-align: center;
}

.hero-headline {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.cta-btn {
  display: block;
  margin: 20px auto;
  width: fit-content;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  background-color: var(--primary-color);
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.cta-btn:hover {
  background-color: var(--secondary-color);
  color: #fff;
  transition: all 0.3s ease-in-out;
}
/* 

    FEATURE SECTION

*/

#features-section {
  padding: 1rem 5rem;
}

.features-header {
  text-align: center;
  margin-bottom: 1.5rem;
}

.features-inner {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  row-gap: 2rem;
  margin: 5px 0px;
}

.feature-box {
  flex-basis: 30%;
  background-color: white;
  color: black;
  padding: 1rem;
}

.feature-icon {
  font-size: 2rem;
  margin-bottom: 1rem;
  color: var(--primary-color);
  text-align: center;
}

.feature-title {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
  text-align: center;
}
.feature-description {
  text-align: justify;
}

/* 

    FOOTER

*/

footer {
  text-align: center;
  padding: 1.5rem;
  background-color: black;
  color: #fff;
}

.footer-links {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
}

.footer-links a {
  color: var(--tertiary-color);
  text-decoration: none;
  transition: color 0.3s ease-in-out;
  font-size: 1rem;
  margin-top: 1rem;
}

.footer-links a:hover {
  text-decoration: underline;
  color: var(--secondary-color);
}

.footer-contact {
  margin-top: 1rem;
  font-size: 0.9rem;
}

.footer-contact a {
  color: var(--tertiary-color);
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}
.footer-contact a:hover {
  text-decoration: underline;
  color: var(--secondary-color);
}

.footer-socials {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 1rem;
}

.footer-socials a {
  font-size: 1.5rem;
}
